<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SVB Web Developper</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    
    <header>
        <a href="#">
            <h1>SVB</h1>
            <!-- <img src="imgs/logo_svb.png" alt="logo-img"> -->
        </a>
        
        <div class="header_container">
            <div class="buttons">
                <a href="#aboutme"><button id="About"><span></span>About Me</button></a>
                <a href="#projectsAncher"><button id="projects"><span></span>Projects</button></a>
                <a href="https://www.santiagovb.com/" target="blank"><button><span></span>Music</button></a>
            </div>
        </div>

        <div class="navbar__toggle" id="hamb_menu">
            <span class="bar"></span>  <span class="bar"></span>    
            
            <span class="bar"></span>
        </div>
    </header>

    <main>
        <div class="banner">
            <h1>Santiago VB</h1>
            <h3>Full Stack Developer</h3>
            <p>&</p>
            <p>Audio Engineer/Music Composer-Producer</p>
            <p class="banner_quote">"Code is where Poetry and Logic intersect to create structural beauty"</p>
        </div>
        <div class="content">
            <div class="about_wrapper"><span id="span2"></span>
                <h1 id="aboutme">About Me</h1>
                <p >Full Stack Developer, passionate about coding.
                    I start every week
                    eager to embark on new projects.
                    <br>
                    Each job presents new challenges, new puzzles that might require
                    research, creativty and studying new tools,
                    and that's something I love about this career, since every
                    single day I become a little bit wiser.
                    <br>
                    <br>
                    Fast learner. Lover of science and sports.
                    <br>
                    Many years of professional experience, most of it as a Project Manager, hundreds of succesful freelance projects and excellente communication skills.
                    <br>
                    <br>
                    Ambitious, decisive and always looking for inspiration.
                </p>
            </div>
            <div class="pic_wrapper">
                <img id="mypic" src="imgs/prof copy.jpg" alt="img">
            </div>
        </div>
        <div class="bullets">
            <ul class="bullets_wrapper">
                <li class="bullet_item">Full Stack Developer</li>
                <li class="bullet_item">Fast learner and tech lover</li>
                <li class="bullet_item">+10 years of professional and customer relationship experience</li>
                <li class="bullet_item">Team player and also very efficient as a solo worker </li>
                <li class="bullet_item">Excellent communication skills</li>
                <li class="bullet_item">Fluent in English, Spanish and French  </li>
            </ul>
            <ul class="bullets_wrapper2">
                <li>Full Stack Developer - <b>Digital House</b></li>
                <li>Python For Everybody - <b>Coursera</b></li>
                <li>IT Fundamentals - <b>Coursera</b></li>
                <li>JavaScript Algorithms and Data Structures - <b>freeCodeCamp</b></li>
                <li>Responsive Web Desing - <b>freeCodeCamp</b></li>
            </ul>
        </div>
        <div class="skills_container">
            <ul class="skills">
                <li class="logos"><img src="/imgs/html.png" alt=""><p>HTML</p></li>
                <li class="logos"><img src="/imgs/CSS-Logo2.png" alt=""><p>CSS</p></li>
                <li class="logos"><img src="/imgs/js.png" alt=""><p>JavaScript</p></li>
                <li class="logos"><img src="/imgs/nodejs.png" alt=""><p>Node.js</p></li>
                <li class="logos"><img src="/imgs/express.jpg" alt=""><p>Express</p></li>
                <li class="logos"><img src="/imgs/python.jpeg" alt=""><p>Python</p></li>
                <li class="logos"><img src="/imgs/SQL3.png" alt=""><p>SQL</p></li>
                <li class="logos over"><img src="/imgs/react.png" alt=""><p>React</p></li>
                <li class="logos"><img src="/imgs/sass.jpeg" alt=""><p>Sass</p></li>
            </ul>
        </div>
        
         <!-- Cards -->
        <div class="projects_meta_container">
            <div class="projects">
                <div id="projectsAncher" class="hwrapper">
                    <h1>My Projects</h1>
                </div>
                <div class="elements_wrapper">
                    <div class="card">
                        <div class="card-content">
                            <h2 class="card-title">Roman Numerals</h2>
                            <p class="card-body">Algorithm to convert numbers into Roman numerals</p>
                            <a href="https://roman27ac.herokuapp.com/" class="button" target="blank">Learn More</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <h2 class="card-title">Note Taking Web App</h2>
                            <p class="card-body">Notey Note is a minimalist and beautiful Note Taking App</p>
                            <a href="https://noteynote.herokuapp.com/" target="blank" class="button">Learn More</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <h2 class="card-title">Online Store</h2>
                            <p class="card-body">Site for a made up Online store</p>
                            <a href="https://san-web-sample.herokuapp.com/" target="blank" class="button">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="projects">
                <div class="elements_wrapper">
                    <div class="card" id="th_card">
                        <div class="card-content">
                            <h2 class="card-title">Instagram Bot</h2>
                            <p class="card-body">IG Bot that likes posts with a certain hashtag</p>
                            <a href="https://github.com/santheartist/IGBot" target="blank" class="button">Learn More</a>
                        </div>
                    </div>
                    <div class="card" id="hidden_card">
                        <div class="card-content">
                            <h2 class="card-title">Audio Compression</h2>
                            <p class="card-body">Compress and Normalize an Audio File by uploading it</p>
                            <a href="#" target="blank" class="button">Learn More</a>
                        </div>
                    </div>
                    <div class="card"  id="hidden_card2">
                        <div class="card-content">
                            <h2 class="card-title">E-Commerce</h2>
                            <p class="card-body">Motorcycle shop webpage</p>
                            <a href="#" target="blank" class="button">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
    </main>
        
        <br>

        <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
        
        <p id="email">vazquezbare@gmail.com</p>

        <div class="footer_container">
            <div class="footer_links">
                <div class="footer_links_wrapper">
                    <div class="footer_link--items">
                        <h4>Contact & Links</h4>
                        <!-- <a href="contact">Email (click to copy)</a> -->
                        <button onclick="copyToClipboard('#email')" id="buttonCopy">Email (click to copy)</button>
                        <a href="a" id="email_invisible" target="_blank"></a>
                        <a href="https://www.linkedin.com/in/santiagovb/" target="_blank">Linkedin</a>
                        <a href="https://github.com/santheartist" target="_blank">GitHub</a>
                    </div>
                    <div class="footer_link--items">
                        <h4>Ressources</h4>
                        <a href="https://www.digitalhouse.com/" target="_blank">DigitalHouse</a>
                        <a href="https://www.w3schools.com/default.asp" target="_blank">W3Schools</a>
                        <a href="https://www.coursera.org/learn/python" target="_blank">Coursera (Python)</a>
                        <a href="https://docs.python.org/3/" target="_blank">docs.spython</a>                        
                    </div>
                </div>
            </div>
        </div>
    </div>    
    <script src="copyclip.js"></script>

</body>
</html>